/*PRIMERO VARIABLES, MIXINS Y TODO LO QUE ESTE DENTRO DE UTILITIES*/
/*TODO LO QUE ESTE EN LA BASE*/
/*ESTILOS GENERALES*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@100&family=Roboto:wght@100&family=Rubik+Mono+One&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.botones {
  display: flex;
  gap: 20px;
}
.botones .tienda1, .botones .galeria {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid #fe3051;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #fe3051;
}
.botones .tienda1:hover, .botones .galeria:hover {
  transform: translate(5px, -5px);
}
.botones a {
  text-decoration: none;
  color: inherit;
}

.imagen2 {
  padding-inline-start: 20px;
  display: flex;
  justify-content: center;
}
.imagen2 .card2 {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
}
.imagen2 .card2 .bg1 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 240px;
  z-index: 2;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 1px solid black;
}
.imagen2 .card2 .bg1 img {
  width: 250px;
}
.imagen2 .card2 .blob1 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fe3051;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce1 1.5s infinite;
}
@keyframes blob-bounce1 {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

/*TODO LO QUE ESTE EN LAYOUT*/
.headerIndex {
  background-color: black;
}
.headerIndex nav .nav__menu {
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.headerIndex nav .nav__menu a {
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .headerIndex nav .nav__menu {
    padding-top: 1rem;
    width: 80%;
    margin: auto;
    flex-direction: row;
  }
}
.headerIndex nav .nav__menu h1 {
  color: #fe3051;
}
.headerIndex nav .nav__menu li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.headerIndex nav .nav__menu li a:hover {
  cursor: pointer;
  color: #fe3051;
}

.mainIndex, .mainIndex .mainSection {
  font-family: "Ubuntu", sans-serif;
  padding: 50px;
  background-color: black;
}
.mainIndex .mainSection {
  width: 80%;
  margin: auto;
  padding: 20px;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .mainIndex .mainSection {
    width: 70%;
  }
}
.mainIndex .mainSection .imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
}
.mainIndex .mainSection .imagen .card1 {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
}
.mainIndex .mainSection .imagen .card1 .bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 240px;
  z-index: 2;
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 1px solid black;
}
.mainIndex .mainSection .imagen .card1 .bg img {
  width: 200px;
}
.mainIndex .mainSection .imagen .card1 .blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fe3051;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 1.5s infinite;
}
@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
.mainIndex .mainSection .seccion2 .main-parrafo {
  padding: 20px;
}
.mainIndex .mainSection .seccion2 .main-parrafo h2, .mainIndex .mainSection .seccion2 .main-parrafo .foot .foot2 span, .foot .foot2 .mainIndex .mainSection .seccion2 .main-parrafo span, .mainIndex .mainSection .seccion2 .main-parrafo .par {
  color: white;
}
.mainIndex .mainSection .seccion2 .main-parrafo h2 span, .mainIndex .mainSection .seccion2 .main-parrafo .foot .foot2 span span, .foot .foot2 .mainIndex .mainSection .seccion2 .main-parrafo span span, .mainIndex .mainSection .seccion2 .main-parrafo .par span {
  color: #fe3051;
}
.mainIndex .mainSection .seccion2 .main-parrafo .par {
  text-align: justify;
}
.mainIndex .mainSection .seccion2 .main-parrafo .par b {
  color: #fe3051;
}
.mainIndex .mainSection .seccion2 .botones, .mainIndex .mainSection .mainSection .seccion2 .botones {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: none;
  gap: none;
  padding: 40px 0;
}
.mainIndex .mainSection .seccion2 .tipos-estambre h3, .mainIndex .mainSection .mainSection .seccion2 .tipos-estambre h3 {
  color: white;
}
.mainIndex .mainSection .seccion2 .tipos-estambre .tipo1 {
  padding-top: 20px;
}
.mainIndex .mainSection .seccion2 .tipos-estambre .tipo1, .mainIndex .mainSection .seccion2 .tipos-estambre .tipo2 {
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: center;
  gap: 10px;
}
.mainIndex .mainSection .seccion2 .tipos-estambre .tipo1 ion-icon, .mainIndex .mainSection .seccion2 .tipos-estambre .tipo2 ion-icon {
  color: #fe3051;
  font-size: 30px;
}
.mainIndex .mainSection .seccion2 .tipos-estambre .tipo1 p, .mainIndex .mainSection .seccion2 .tipos-estambre .tipo2 p {
  color: white;
}

.mainNosotros {
  background-color: black;
  padding: 50px;
}
.mainNosotros .nosotros-section {
  color: white;
  margin: auto;
  width: 90%;
}
@media screen and (min-width: 700px) {
  .mainNosotros .nosotros-section {
    width: 70%;
  }
}
.mainNosotros .nosotros-section h3 {
  color: #fe3051;
}
.mainNosotros .nosotros-section p {
  text-align: justify;
  padding-bottom: 15px;
}

.mainContactos {
  background-color: black;
  padding-bottom: 70px;
}
.mainContactos .container {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: none;
  padding: 20px 0;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .mainContactos .container {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
.mainContactos .container .box-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 20px;
}
@media screen and (min-width: 700px) {
  .mainContactos .container .box-info {
    gap: 5px;
  }
}
.mainContactos .container .box-info h1 {
  text-align: left;
  letter-spacing: 5px;
}
@media screen and (min-width: 700px) {
  .mainContactos .container .box-info h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }
}
.mainContactos .container .box-info .data {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 25px;
}
.mainContactos .container .box-info .data p {
  font-size: 1rem;
}
@media screen and (min-width: 700px) {
  .mainContactos .container .box-info .data p {
    font-size: 20px;
  }
}
.mainContactos .container .box-info .data p i {
  color: #fe3051;
  margin-right: 10px;
  font-size: 25px;
}
.mainContactos .container .form {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 15px;
  text-align: center;
}
.mainContactos .container .form .input-box {
  position: relative;
}
.mainContactos .container .form .input-box i {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
@media screen and (min-width: 700px) {
  .mainContactos .container .form .input-box i {
    font-size: 20px;
  }
}
.mainContactos .container .form .input-box > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: white;
}
@media screen and (min-width: 700px) {
  .mainContactos .container .form .input-box > input {
    height: 80px;
    font-size: 20px;
  }
}
.mainContactos .container .form .input-box > input:focus {
  border-bottom: 3px solid #fe3051;
}
.mainContactos .container .form .input-box > input:focus::placeholder {
  color: #a3a3a3;
  font-weight: bold;
}
.mainContactos .container .form .input-box > textarea {
  width: 100%;
  height: 130px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: white;
  padding: 10px;
}
@media screen and (min-width: 700px) {
  .mainContactos .container .form .input-box > textarea {
    height: 190px;
    font-size: 20px;
  }
}
.mainContactos .container .form .input-box > textarea:focus {
  border-bottom: 3px solid #fe3051;
}
.mainContactos .container .form .input-box > textarea:focus::placeholder {
  color: #a3a3a3;
  font-weight: bold;
}
.mainContactos .container .form button {
  background: #fe3051;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
}
.mainContactos .container .form button:hover {
  background: rgba(254, 48, 82, 0.5607843137);
}

.contenedorTienda {
  padding: 20px;
  margin: auto;
  width: 80%;
}
.contenedorTienda .Encabezado h1 {
  color: #fe3051;
}
.contenedorTienda .Encabezado p {
  color: white;
  text-align: justify;
}
.contenedorTienda .containerCards {
  width: 80%;
  margin: auto;
  padding: 21px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 700px) {
  .contenedorTienda .containerCards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
  }
}
.contenedorTienda .containerCards .card, .contenedorTienda .containerCards .card8, .contenedorTienda .containerCards .card7, .contenedorTienda .containerCards .card6, .contenedorTienda .containerCards .card5, .contenedorTienda .containerCards .card4, .contenedorTienda .containerCards .card3, .contenedorTienda .containerCards .card2, .contenedorTienda .containerCards .card1 {
  width: 200px;
  height: 350px;
  background: rgba(159, 13, 127, 0.337254902);
  color: white;
  font-weight: 600;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
  transition: all 0.5s ease;
}
@media screen and (min-width: 700px) {
  .contenedorTienda .containerCards .card, .contenedorTienda .containerCards .card8, .contenedorTienda .containerCards .card7, .contenedorTienda .containerCards .card6, .contenedorTienda .containerCards .card5, .contenedorTienda .containerCards .card4, .contenedorTienda .containerCards .card3, .contenedorTienda .containerCards .card2, .contenedorTienda .containerCards .card1 {
    width: 250px;
  }
}
.contenedorTienda .containerCards .card::before, .contenedorTienda .containerCards .card8::before, .contenedorTienda .containerCards .card7::before, .contenedorTienda .containerCards .card6::before, .contenedorTienda .containerCards .card5::before, .contenedorTienda .containerCards .card4::before, .contenedorTienda .containerCards .card3::before, .contenedorTienda .containerCards .card2::before, .contenedorTienda .containerCards .card1::before {
  content: "$39";
  position: absolute;
  width: 75px;
  height: 75px;
  top: 35%;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #EA1179;
  color: black;
  font-size: 20px;
  font-weight: 1000px;
  transition: all 0.5s ease;
}
.contenedorTienda .containerCards .card:hover, .contenedorTienda .containerCards .card8:hover, .contenedorTienda .containerCards .card7:hover, .contenedorTienda .containerCards .card6:hover, .contenedorTienda .containerCards .card5:hover, .contenedorTienda .containerCards .card4:hover, .contenedorTienda .containerCards .card3:hover, .contenedorTienda .containerCards .card2:hover, .contenedorTienda .containerCards .card1:hover {
  border-top-left-radius: 35px;
  box-shadow: 5px 5px 0px 0px #06d6a0, 10px 10px 0px 0px #9F0D7F, 15px 15px 0px 0px #241468, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.contenedorTienda .containerCards .card:hover::before, .contenedorTienda .containerCards .card8:hover::before, .contenedorTienda .containerCards .card7:hover::before, .contenedorTienda .containerCards .card6:hover::before, .contenedorTienda .containerCards .card5:hover::before, .contenedorTienda .containerCards .card4:hover::before, .contenedorTienda .containerCards .card3:hover::before, .contenedorTienda .containerCards .card2:hover::before, .contenedorTienda .containerCards .card1:hover::before {
  transform: scale(1.3) rotate(-30deg);
}
.contenedorTienda .containerCards .card:hover .card__image, .contenedorTienda .containerCards .card8:hover .card__image, .contenedorTienda .containerCards .card7:hover .card__image, .contenedorTienda .containerCards .card6:hover .card__image, .contenedorTienda .containerCards .card5:hover .card__image, .contenedorTienda .containerCards .card4:hover .card__image, .contenedorTienda .containerCards .card3:hover .card__image, .contenedorTienda .containerCards .card2:hover .card__image, .contenedorTienda .containerCards .card1:hover .card__image {
  border-top-left-radius: 25px;
}
.contenedorTienda .containerCards .card .card__image, .contenedorTienda .containerCards .card8 .card__image, .contenedorTienda .containerCards .card7 .card__image, .contenedorTienda .containerCards .card6 .card__image, .contenedorTienda .containerCards .card5 .card__image, .contenedorTienda .containerCards .card4 .card__image, .contenedorTienda .containerCards .card3 .card__image, .contenedorTienda .containerCards .card2 .card__image, .contenedorTienda .containerCards .card1 .card__image {
  width: initial;
  height: 150px;
  background: rgb(6, 214, 160);
  background: linear-gradient(163deg, #06d6a0 18%, rgb(17, 138, 178) 79%);
  transition: all 0.5s ease;
}
.contenedorTienda .containerCards .card .card__image img, .contenedorTienda .containerCards .card8 .card__image img, .contenedorTienda .containerCards .card7 .card__image img, .contenedorTienda .containerCards .card6 .card__image img, .contenedorTienda .containerCards .card5 .card__image img, .contenedorTienda .containerCards .card4 .card__image img, .contenedorTienda .containerCards .card3 .card__image img, .contenedorTienda .containerCards .card2 .card__image img, .contenedorTienda .containerCards .card1 .card__image img {
  width: 100%;
  height: 100%;
}
.contenedorTienda .containerCards .card .card__content, .contenedorTienda .containerCards .card8 .card__content, .contenedorTienda .containerCards .card7 .card__content, .contenedorTienda .containerCards .card6 .card__content, .contenedorTienda .containerCards .card5 .card__content, .contenedorTienda .containerCards .card4 .card__content, .contenedorTienda .containerCards .card3 .card__content, .contenedorTienda .containerCards .card2 .card__content, .contenedorTienda .containerCards .card1 .card__content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
}
.contenedorTienda .containerCards .card .card__content .title, .contenedorTienda .containerCards .card8 .card__content .title, .contenedorTienda .containerCards .card7 .card__content .title, .contenedorTienda .containerCards .card6 .card__content .title, .contenedorTienda .containerCards .card5 .card__content .title, .contenedorTienda .containerCards .card4 .card__content .title, .contenedorTienda .containerCards .card3 .card__content .title, .contenedorTienda .containerCards .card2 .card__content .title, .contenedorTienda .containerCards .card1 .card__content .title {
  font-weight: 800;
  font-size: 1.4em;
}
.contenedorTienda .containerCards .card1::before {
  content: "$99";
}
.contenedorTienda .containerCards .card2::before {
  content: "$34";
}
.contenedorTienda .containerCards .card3::before {
  content: "$75";
}
.contenedorTienda .containerCards .card4::before {
  content: "$68";
}
.contenedorTienda .containerCards .card5::before {
  content: "$66";
}
.contenedorTienda .containerCards .card6::before {
  content: "$34";
}
.contenedorTienda .containerCards .card7::before {
  content: "$97";
}
.contenedorTienda .containerCards .card8::before {
  content: "$85";
}

.contenedorGaleria .Encabezado {
  margin: auto;
  width: 80%;
  padding: 20px 0;
}
.contenedorGaleria .Encabezado h1 {
  color: #fe3051;
}
.contenedorGaleria .Encabezado p {
  color: white;
  text-align: justify;
}
.contenedorGaleria .grid-container {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}
.contenedorGaleria .grid-container .grid-item {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  gap: none;
  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contenedorGaleria .grid-container .grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}
@media screen and (min-width: 700px) {
  .contenedorGaleria .grid-container .wide {
    grid-column: span 2;
  }
  .contenedorGaleria .grid-container .tall {
    grid-row: span 2;
  }
}

.foot {
  background-color: black;
  color: white;
}
.foot .foot1 {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .foot .foot1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.foot .foot1 h2, .foot .foot1 .foot2 span, .foot .foot2 .foot1 span, .foot .foot1 .mainIndex .mainSection .seccion2 .main-parrafo .par, .mainIndex .mainSection .seccion2 .main-parrafo .foot .foot1 .par {
  color: #fe3051;
}
.foot .foot2 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
