.foot{
    background-color: $bg-color;
    color: $text-color1;
    .foot1{
        
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;

        @include desktop{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        h2{
            color: $text-color2;
        }
    }
    .foot2{
        text-align: center;
        span{
            @extend h2;
        }
    }
}