.mainNosotros{
    background-color: $bg-color;
    padding: 50px;
    .nosotros-section{
        
        color: $text-color1;
        margin: auto;
        width: 90%;

        @include desktop{
            width: 70%;
        }

        h3{
            color:$text-color2;
        }
        p{
            text-align: justify;
            padding-bottom: 15px;
        }
        
    
    }
}