.mainNosotros{
    background-color: black;
    
    .nosotros-section{
        color: white;
        margin: auto;
        width: 90%;
        h3{
            color:#fe3051;
        }
        p{
            text-align: justify;
            padding-bottom: 15px;
        }
        
    
    }
}